// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-holder {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}


.mahi-mahi {
	background-image: url('mahi-mahi.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.mandarins {
	background-image: url('mandarins.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.margarine {
	background-image: url('margarine.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.mustard-seed {
	background-image: url('mustard-seed.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.pear {
	background-image: url('pear.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.avocado {
	background-image: url('avocado.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.barramundi {
	background-image: url('barramundi.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.bread{
	background-image: url('bread.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.chives {
	background-image: url('chives.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.cinnamon {
	background-image: url('cinnamon.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.freekeh {
	background-image: url('freekeh.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.kenchur {
	background-image: url('kenchur.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.plum {
	background-image: url('plum.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.search {
	background-image: url('search.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.spinach {
	background-image: url('spinach.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.tabasco {
	background-image: url('tabasco.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.vanilla-bean {
	background-image: url('vanilla-bean.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}