<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
			<nav class="navbar-fixed-top">
				<a href="/"><button class="nav-button" type="button">Home</button></a>
				<a href="/sign_up"><button class="nav-button" type="button">Sign Up</button></a>
				<a href="/log_in"><button class="nav-button" type="button">Log In</button></a>
				<a href="/cart"><button class="nav-button" type="button">Cart</button></a>
				<form><input type="search" class="search-field">Search Products</form></a>
			</nav>
</header>
    <%= yield %>
  </body>
</html>
